<?xml version="1.0"?>

<model>
  <name>aruco_landing_pad</name>
  <version>1.0</version>
  <sdf version='1.6'>aruco_landing_pad.sdf</sdf>

  <author>
    <name>maxi</name>
    <email>1372740910@qq.com</email>
  </author>

  <description>
    The landing pad for landing task.
  </description>
</model>
